* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}

html,
body {
  color: #fff;
  background: #000;
}

footer {
  padding-top: 50px;
  background: #000;
  color: #fff;
  font-style: italic;
  display: flex;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 30px;
}
